body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

.top-container {
  background-color: #e0ebe8;
  height: 700px;
  position: relative;
  margin-top: 0;
}

.cloud2 {
  position: absolute;
  top: 280px;
  left: 286px;
}

.cloud1 {
  position: absolute;
  left: 1100px;
  top: 90px;
}

.middle-para {
  position: absolute;
  top: 110px;
  left: 580px;
  font-size: 2.5em;
  color: #66BFBF;
}

.mountain {
  position: absolute;
  top: 340px;
  left: 500px;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin-bottom: 2px;
  margin-top: 7px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 3;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  line-height: 3;
}

.web-developer {
  font-size: 20px;
  margin-top: 0;
  font-weight: normal;
  line-height: 2;
}

.hello-image {
  height: 120px;
  width: 120px;
  margin-top: 40px;
}

.hi {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width: 8%;
  opacity: 0.5;
  margin: 100px auto;
}

.available {
  color: #66BFBF;
}

a {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 10px auto;
}

.contact {
  width: 50%;
  margin: 50px auto;
}

.botton-container {
  background-color: #e0ebe8;
  padding-left: 900px;
  padding-top: 40px;
  height: 70px;
  position: relative;
}

.footer-link:hover {
  color: black;
}

a {
  text-decoration: none;
}

.footer-link1 {
  color: black;
}

.btn {
  color: #eaf6f6;
  background-color: #45b29a;
  width: 200px;
  display: block;
  margin: 10px auto;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
  padding-top: 2px;
}

.circle {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 290px;
  top: 20px;
}

span {
  text-decoration: underline;
}

.bottom {
  background-color: #66bfbf;
  height: 100px;
  width: auto;
  padding-top: 50px;
}

header {
  padding-top: 28px;
  background-color: #e0ebe8;
}
.gif{
  float: left;
width: 25%;
margin-right: 50px;
}

.bottom-para{
  color: #eaf6f6;
}
